{% extends 'base.html' %}

{% block content %}
	<div class="container" align="center" style="padding-top: 30px;">
		<p class="h3" align="center" style="padding-top: 50px">Aplicación para hacer consultas de la pagina de datos abiertos www.datos.gov.co (Cadena Productiva Cacao - Area, Producción Y Rendimiento)</p><br>
		<p class="lead" align="center">
  			El objetivo de esta aplicación es permitirle a sus usuarios conectarse con su cuenta de github para iniciar sesión y posteriormente realizar una consulta determinada a la api de datos abiertos y realizar una grafica estadistica en base a los datos obtenidos <strong>empecemos</strong>
		</p>
		<div class="btn-group">
		        <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary">
			        <span style="color: white;">Login With Github</span>
		        </a>
		</div>
  	</div>
{% endblock %}